body article pre {
    width: 100% !important;
}

body article pre code {
    width: 100% !important;
    max-width: 100% !important;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal !important;
}

.postShorten.postShorten--thumbnailimg-left .postShorten-thumbnailimg img {
    width: auto;
    max-width: 140px;
    height: auto;
    max-height: 140px;
}

img[src$="#floatright"] {
    float: right !important;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img[src$="#floatleft"] {
    float: left !important;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inline-block {
    display: inline-block !important;
}